@model string
@{
    ViewBag.Title = "Home Page";
}
New chat room: <input type="text" id="newChannelName" /> <input type="button" onclick="setupChannel($('#newChannelName').val());" />
<h3>Console</h3>
<div id="tabs">
    <ul>
        
    </ul>
    
</div>

<input type="text" id="text" disabled="disabled" value="Loading..." style="display:none;"/>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />

<script src="@Url.Content("~/Scripts/jquery.signalR-0.5.3.min.js")"></script>
<script src="/signalr/hubs" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/richContentFilters.js")"></script>
<script src="@Url.Content("~/Scripts/ChatHost.js")"></script>
<script src="@Url.Content("~/Scripts/ChatChannel.js")"></script>

<script>
    function addChannelTab(channelName) {
        $('#tabs ul').append("<li><a href='#tabs-" + channelName + "'>" + channelName + "</a></li>");
        $('#tabs').append("<div id='tabs-" + channelName + "'><div id='log-" + channelName + "'></div></div>");
    }
    function setupChannel(channelName) {
        chatHost.joinChannel(channelName);
        addChannelTab(channelName);
        $('#text').css("display","block");
        $("#tabs").tabs(
        {
            show: true,

            activate: function (event, ui) {
                chatHost.switchChannel(ui.newTab.id);
            }
        });
        $("#tabs").tabs("refresh");
    }

(function ($) {
    "use strict";

    var chat = $.connection.chatboxHub;

    var myName = '@Context.User.Identity.Name';
    var channelName = '@Model';
    var log = $('#log');
    var queue = [];
    var reverseQueue = [];

    chat.onJoined = function (name) {
        log.append('<span> -- ' + name + ' has joined the conversation.</span>');
        log.scrollTop(log[0].scrollHeight);
    };

    chat.onMessage = function (name, text) {
        log.append('<div class="chatline"><div class="user">' + name + '</div><div class="message">' + applyFilters(text) + '</div></div>');
        //var log = $('#log');
    }

    var queue = [];
    var reverseQueue = [];

    chat.onJoined = function (name, channelName) {
        var log = $('#log-' + channelName);
        log.append('<div> -- ' + name + ' has joined the conversation.</div>');
        log.scrollTop(log[0].scrollHeight);
    };

    chat.onMessage = function (name, text, channelName) {
        var log = $('#log-' + channelName);
        log.append('<div>' + name + '&gt; ' + text + '</div>');
        log.scrollTop(log[0].scrollHeight);
    };

    $('#text').on('keypress', function (evt) {
        if (evt.which == 13) {
            var input = $(this);
            var text = input.val();

            queue.push(text);
            chat.message(channelName, text);
            input.val('');
        }
    });

    $('#text').on('keyup', function (evt) {
        if (evt.which == 38 && queue.length > 0) {
            var input = $(this);
            var text = queue.pop();
            reverseQueue.push(text);
            input.val(text);
            evt.preventDefault();
            evt.stopPropagation();
        }
        else if (evt.which == 40 && reverseQueue.length > 0) {
            var input = $(this);
            var text = reverseQueue.pop();
            queue.push(text);
            input.val(reverseQueue[reverseQueue.length-1]);
            evt.preventDefault();
            evt.stopPropagation();
        }
    });

    $.connection.hub.start().done(function () {
        $('#text').val('');
        $('#text').removeAttr('disabled');

        chat.join(channelName);

        @if(Model != null)
        {
            <text>setupChannel('@Model');</text>
        }

    });

    
    
    
})(jQuery);
    
</script>