@{
    ViewBag.Title = "Home Page";
}
New chat room: <input type="text" id="newChannelName" />

<div id="tabs">
    <ul>
        
    </ul>
    
</div>

<input type="text" id="text" disabled="disabled" value="Loading..." style="display:none;"/>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />

<script src="@Url.Content("~/Scripts/jquery.signalR-0.5.3.min.js")"></script>
<script src="/signalr/hubs" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/richContentFilters.js")"></script>
<script src="@Url.Content("~/Scripts/ChatHost.js")"></script>
<script src="@Url.Content("~/Scripts/ChatChannel.js")"></script>
<script src="@Url.Content("~/Scripts/mousetrap.js")"></script>
<script src="@Url.Content("~/Scripts/keyboard.js")"></script>
<script src="@Url.Content("~/Scripts/index.js")"></script>